<div class="navigations navigations--sticky">
  <div class="nav-languages">
    <div class="toogler">
      <a class="world js-world-toggler" href="#"><i class="fa fa-globe"></i></a>
    </div>
    <ul class="nav-languages__list">
      <li class="active"><a href="#">IT</a></li>
      <li><a href="#">DE</a></li>
      <li><a href="#">EN</a></li>
    </ul>
  </div>
  <div class="cart-small">
    <a href="#">
      <i class="fa fa-shopping-cart"></i>
      <p>0/€0.00</p>
    </a>
  </div>
  <div class="js-nav-toggler">
    <a class="navigation-toggler" href="#">
      <i class="fa fa-bars"></i>
    </a>
  </div>
</div>
