<div class="site-container">
  <div class="container-fluid js_site_container js_main controller">
    <div class="row">
      <div class="col-md-12">
        <%= render partial: "navigation", locals: { sticky: true } %>

        <div class="wrapper">
          <div class="container">

                <div class="table-cart">
                  <div class="table-cart__header hidden-sm hidden-xs">
                    <div class="row">
                      <div class="table-cart__content col-md-6"><h4>Prodotto</h4></div>
                      <div class="table-cart__content col-md-2"><h4>Prezzo</h4></div>
                      <div class="table-cart__content col-md-2"><h4>Quantità</h4></div>
                      <div class="table-cart__content col-md-1"><h4>Totale</h4></div>
                      <div class="table-cart__content col-md-1">&nbsp;</div>
                    </div>
                  </div>

                  <div class="table-cart__body">

                  <% 3.times do %>
                  <!-- Loop -->
                    <div class="row">
                      <div class="table-cart__item">
                        <div class="table-cart__content table-cart__content--product col-md-6">
                          <img class="table-cart__content__image" src="<%= image_path 'product/product-543x543.png' %>" alt="">
                          <div class="table-cart__content__text">
                            <h1>Birra di Natale 2l</h1>
                            <p>
                              Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                              tempor incididunt ut labore et dolore magna aliqua.
                            </p>
                          </div>
                        </div>
                        <div class="table-cart__content col-md-2">
                          <span class="table-cart__price"><i class="hidden-md hidden-lg">Prezzo:</i> 25€</span>
                        </div>
                        <div class="table-cart__content col-md-2">
                          <i class="visible-xs visible-sm table-cart__quantity">Quantità:</i> <input class="table-cart__stepper" type="number" />
                        </div>
                        <div class="table-cart__content col-md-1 ">
                          <div class="table-cart__subtotale">
                            <span class="table-cart__subtotal-price"><i class="visible-xs visible-sm">Subtotale:</i> 50€</span>
                          </div>
                        </div>
                        <div class="table-cart__content table-cart__content--checker col-md-1">
                          <button class="table-cart__remove" type="link">
                            <span class="visible-xs visible-sm">Rimuovi</span>
                            <i class="fa fa-times"></i>
                          </button>
                        </div>
                      </div>
                    </div>
                  <!-- END Loop -->
                  <% end %>

                  </div>
                  <div class="table-cart__footer">
                    <div class="row">
                      <div class="col-md-9 table-cart__content"></div>
                      <div class="col-md-1 table-cart__content text-right">
                        <span class="table-cart__total">Totale</span>
                      </div>
                      <div class="col-md-2 table-cart__content">
                        <span class="table-cart__total-price">25€</span>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="table-cart__console">
                  <div class="row">
                    <div class="col-md-6">
                      <button class="btn-grey">Svuota il carrello</button>
                      <span class="continue-shopping">
                        <i class="hidden-xs hidden-sm">o</i> <a href="#">Continua lo shopping</a>
                      </span>
                    </div>
                    <div class="col-md-6 text-right">
                      <button class="btn-grey">Aggiorna</button>
                      <button class="btn-checkout">Checkout</button>
                    </div>
                  </div>
                </div>

              </div>


        </div>
      </div>
    </div>
  </div>

  <%= render partial: "big_footer" %>
  <%= render partial: "footer" %>
</div>
