<%= render "responsive_menu" %>
<!-- // Navigation -->
<div class="site-container">
  <div class="container-fluid js_site_container js_main controller">
    <div class="row">
      <div class="col-md-12">
        <%= render "navigation" %>

        <br />
        <br />
        <br />asdfasdf
        <br />
        <br />
        <br />
        <br />

      </div>
    </div>
  </div>

  <%= render "big_footer" %>
  <%= render "footer" %>
</div>
