<div class="site-container">
  <div class="container-fluid js_site_container js_main controller">
    <div class="row">
      <div class="col-md-12">
        <%= render partial: "navigation", locals: { sticky: true } %>

        <div class="contacts">
          <h2 class="contacts__title">Grazie</h2>
          <h3 class="contacts__subtitle">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc facilisis hendrerit urna, et vestibulum ligula tempor et. Nulla nec lacus mi. Curabitur sollicitudin ligula eu interdum ullamcorper.
          </h3>
          <img data-fit="true" data-align="top center" class="coverized contacts__background" src="<%= image_path 'thanks/thanks.jpg' %>" alt="">
        </div>

        <div class="wrapper">
          <div class="container">
            <div class="row">
              <div class="back-home">
                <a href="#" class="home">Torna alla home</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <%= render partial: "big_footer" %>
  <%= render partial: "footer" %>
</div>
