default: &default
  adapter: mysql2
  encoding: utf8
  pool: 5
  username: root

credentials: &credentials
  username: <%= ENV["DATABASE_USERNAME"] %>
  password:  <%= ENV["DATABASE_PASSWORD"] %>

development:
  <<: *default
  database: forst-drunken-ibex_development

test:
  <<: *default
  database: forst-drunken-ibex_test

staging:
  <<: *default
  <<: *credentials
  database: forst-drunken-ibex_staging

production:
  <<: *default
  <<: *credentials
  host: db1.caynod.es
  database: forst-drunken-ibex
