@import navigation
@import banner-product
@import menu-list
@import section-boxes
@import splash
@import footer
@import cart-small
@import product-catalog
@import product-images
@import product-details
@import product-merchandising
@import contacts
@import table-cart
@import entry-page
@import flash-messages
@import registration
@import checkout
@import step1
@import step2
@import step3
@import step4
@import step5
@import privacy
@import static-page

// Nav Languages
.nav-languages
  position: absolute
  z-index: 5

  &__list
// END Nav Languages

// Big Footer
.big-footer
  background: $color-green-forst
  padding: 40px 0 60px 0

  +max-screen($screen-sm)
    padding: 40px 20px 60px 20px

    &__menu
      margin-bottom: 30px

// END Big Footer



