// Splash Home
.splash
  position: relative
  overflow: hidden
  height: 650px
  width: 100%
  top: 0
  left: 0

  &__content
    position: relative
    z-index: 2
    text-align: center

  &__logo

  &__title
    color: #FFFFFF
    font-weight: 700
    font-size: 24px
    +text-shadow(0 0 27px rgba(0,0,0,.7))

  &__description
    color: #FFFFFF
    font-weight: 300
    font-size: 22px
    line-height: 29px

  &__background
    position: absolute
    z-index: 1
    left: 0
    top: 0
// END Splash Home
