.text-right
  text-align: right

.site-container
  position: relative
  z-index: 1
  background: #FFFFFF

.wrapper
  padding: 70px 0
  background: #f6f2ee url(asset-path("pattern.png")) left top

  +max-screen($screen-sm)
    padding: 20px 0

// Buttons
.btn-follow, .btn-add-to-cart
  +transition(all .3s ease-out)
  font-size: 16px
  font-weight: 700
  display: block
  padding: 12px 45px
  background: $color-green-forst
  color: #FFFFFF
  line-height: 22px
  text-decoration: none
  text-align: center
  width: 220px

  +max-screen($screen-sm)
    font-size: 14px
    padding: 8px 35px
    line-height: 20px
    margin: 10px auto

  &:hover
    background: lighten($color-green-forst, 4%)

.btn-add-to-cart
  background: #46521b
  color: #fff
  font-weight: 300
  text-align: center
  border: 1px solid #bbb
  width: 260px
  text-transform: uppercase

  &:hover
    background: #536120

.btn-grey
  vertical-align: top
  background: #FFF
  color: #000000
  font-weight: 600
  text-align: center
  border: 1px solid #dad8ca
  padding: 10px 20px

  +max-screen($screen-md)
    display: block
    width: 100%
    margin-bottom: 10px

  &:hover
    background: darken(#FFF, 4%)

.btn-checkout
  vertical-align: top
  background: $color-green-forst
  color: #FFF
  font-weight: 600
  text-transform: uppercase
  text-align: center
  border: 1px solid #dad8ca
  padding: 10px 20px

  +max-screen($screen-md)
    display: block
    width: 100%
    margin-bottom: 10px

  &:hover
    background: darken($color-green-forst, 4%)

