<div class="entry-page__box__disclaimer">
  <ul>
    <li>
      <%= link_to Spree.t('menu.underage.responsible_consumption'), 'http://www.beviresponsabile.it/', target: :blank %>
    </li>
    <li>
      <%= link_to Spree.t('menu.underage.privacy'), privacy_path %>
    </li>
    <li>
      <%= link_to Spree.t('menu.underage.sales_conditions'), sales_conditions_path %>
    </li>
  </ul>
</div>
