<section class="footer">
  <div class="footer__ornament">
    <img class="footer__logo" src="<%= image_path 'layout/logo-small.png' %>" alt="" />
  </div>
  <ul class="footer__nav">
    <li>© Copyright Forstshop</li>
    <li>
      <%= link_to Spree.t('menu.privacy'), privacy_path,  title: Spree.t('menu.privacy') %>
    </li>
    <li>
      <%= link_to Spree.t('menu.sales_conditions'), privacy_path,  title: Spree.t('menu.sales_conditions') %>
    </li>
  </ul>
</section>
