<section class="footer">
  <div class="footer__ornament">
    <img class="footer__logo" src="<%= image_path 'layout/logo-small.png' %>" alt="" />
  </div>
  <ul class="footer__nav">
    <li>© Copyright Forstshop</li>
    <li><a href="#" title="Informativa sulla privacy">Informativa sulla privacy</a></li>
    <li><a href="#" title="Condizioni generali di vendita">Condizioni generali di vendita</a></li>
  </ul>
</section>
