<div class="navigations <%= "navigations--sticky" if local_assigns[:sticky] %>">
  <a href="#" title="Home" class="navigations__forst-shop"></a>
  <div class="nav-languages">
    <div class="toogler">
      <a class="world js-world-toggler" href="#"><i class="fa fa-globe"></i></a>
    </div>
    <ul class="nav-languages__list">
      <li class="active"><a href="#">IT</a></li>
      <li><a href="#">DE</a></li>
      <li><a href="#">EN</a></li>
    </ul>
  </div>
  <div class="cart-small hidden-xs">
    <a href="<%= spree.cart_path %>">
      <i class="fa fa-shopping-cart"></i>
    </a>
    <span class="js-inject-link-to-cart"></span>
  </div>
  <div class="js-nav-toggler">
    <a class="navigation-toggler" href="#">
      <i class="fa fa-bars"></i>
    </a>
  </div>
</div>
