<div class="navigation js_navigation_container">
  <div class="js-nav-toggler">
    <a class="navigation-toggler" href="#">
      <i class="fa fa-times"></i>
    </a>
  </div>
  <ul class="navigation__primary-menu">
    <li><a href="#">CARRELLO (0/€0.00)</a></li>
    <li><a href="#">FORST SHOP</a></li>
    <li><a href="#">LE NOSTRE BIRRE</a></li>
    <li>
      <a href="#">IL MERCHANDISING</a>
      <ul>
        <li><a href="#">BICCHIERI</a></li>
        <li><a href="#">ABBIGLIAMENTO</a></li>
        <li><a href="#">ACCESSORI</a></li>
      </ul>
    </li>
  </ul>
  <ul class="navigation__secondary-menu">
    <li><a href="#">Contatti</a></li>
    <li><a href="#">Informativa privacy</a></li>
    <li><a href="#">Condizioni generali di vendita</a></li>
  </ul>
</div>
